$border-radius: rem(5);

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: rem(10);
  margin-left: auto;
  margin-right: auto;
  padding: rem(24);
  height: 100%;

  & > * + *,
  & > ul > li + li {
    margin-top: rem(16);

    @include breakpoint-up(lg) {
      margin-top: rem(20);
    }
  }

  li {
    position: relative;

    &::after {
      font-size: rem(12);
      font-style: italic;
      font-weight: 500;
      text-align: right;
      color: var(--red);
      margin-top: rem(7);
    }
  }

  input {
    width: 100%;
    height: rem(56);
    padding-left: rem(20);
    padding-right: rem(20);
    border-radius: $border-radius;
    border: 1px solid var(--grayish-blue);
    outline-color: var(--red);

    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
    }
  }

  label {
    position: absolute;
    width: 0;
    height: 0;
    font-size: rem(32);
    text-indent: rem(10);
    overflow: hidden;
  }

  button {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: rem(1);
    width: 100%;
    height: rem(56);
    border: none;
    background-color: var(--green);
    border-radius: $border-radius;
    cursor: pointer;
  }

  p {
    text-align: center;
    color: var(--grayish-blue);
    font-size: rem(10.5);
    padding-left: rem(24);
    padding-right: rem(24);
  }
}

.invalid::before {
  display: block;
  content: "";
  width: rem(24);
  height: rem(24);
  background: url("/images/icon-error.svg");
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-24px, 16px);
}

.firstName.invalid::after {
  display: block;
  content: "First Name cannot be empty";
}

.lastName.invalid::after {
  display: block;
  content: "Last Name cannot be empty";
}

.email.invalid::after {
  display: block;
  content: "Looks like this is not an email";
}

.password.invalid::after {
  display: block;
  content: "Password cannot be empty";
}

.text-red {
  color: var(--red);
}

.bold {
  font-weight: 700;
}
