header {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(67);

  @include breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: rem(560);
    text-align: left;
    margin: 0;
    padding-right: rem(72);
  }

  h1 {
    margin-bottom: rem(26);

    @include breakpoint-up(lg) {
      font-size: rem(50);
      line-height: 1.1;
    }
  }

  h2 {
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.8;
  }
}
