.container {
  max-width: calc(min(87%, 555px));
  margin: rem(95) auto rem(67) auto;

  @include breakpoint-up(lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1110px;
    margin: 0 auto;
  }
}
